

////////// Header ////////////
.main_header{
    position: relative;
    .nav_header{
        position: absolute;
        z-index: 999;
        width: 100%;
        position: fixed;
        @media(max-width:767px) {
          background: #0000008c;
     }
        
        .mat-toolbar{
            background: transparent;
            height: 100px;
            margin-left: 30px;
            a{
                text-decoration: none;
            }
            .nav_header_title{
                font-family: wooden;
                font-size: 40px;
                color: $logoColor;
                font-weight: bold;
                
            }
            .search_component{
                height: 100%;
                margin-left: 75px;
                position: relative;
                @media(max-width:767px) {
                  margin: 0;
             }
                .search {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 55px;
                    height: 55px;
                    background: $readMainColor;
                    border-radius: 50%;
                    transition: all 1s;
                    z-index: 4;
                    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
                    // box-shadow: 0 0 25px 0 $readMainColor;
                    &:hover {
                      cursor: pointer;
                    }
                    &::before {
                      content: "";
                      position: absolute;
                      margin: auto;
                      top: 22px;
                      right: 0;
                      bottom: 0;
                      left: 22px;
                      width: 12px;
                      height: 2px;
                      background: white;
                      transform: rotate(45deg);
                      transition: all .5s;
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      margin: auto;
                      top: -5px;
                      right: 0;
                      bottom: 0;
                      left: -5px;
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;
                      border: 2px solid white;
                      transition: all .5s;
                    }
                  }
                  input {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    outline: none;
                    border: none;
                    background: $readMainColor;
                    color: white;
                    text-shadow: 0 0 10px $readMainColor;
                    padding: 0 125px 0 20px;
                    border-radius: 30px;
                    box-shadow: 0 0 25px 0 $readMainColor,
                                0 20px 25px 0 rgba(0, 0, 0, 0.2);
                    transition: all 1s;
                    opacity: 0;
                    z-index: 5;
                    font-weight: bolder;
                    letter-spacing: 0.1em;
                    &:hover {
                      cursor: pointer;
                    }
                    &:focus {
                      width: 550px;
                      @media(max-width:767px) {
                        right: 50px;
                   }
                      opacity: 1;
                      cursor: text;
                    }
                    &:focus ~ .search {
                      right: -550px;
                      background: #151515;
                      z-index: 6;
                      &::before {
                        top: 0;
                        left: 0;
                        width: 25px;
                        @media(max-width:767px) {
                          right: -50px;
                     }
                      }
                      &::after {
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 2px;
                        border: none;
                        background: white;
                        border-radius: 0%;
                        transform: rotate(-45deg);
                      }
                    }
                    &::placeholder {
                      color: white;
                      opacity: 0.5;
                      font-weight: bolder;
                    }
                  }

        }
   
    }
}
    .header_cover{
        -webkit-box-shadow: 0px 28px 55px 82px rgba(0,0,0,0.61);
        -moz-box-shadow: 0px 28px 55px 82px rgba(0,0,0,0.61);
        box-shadow: 0px 28px 55px 82px rgb(0 0 0);
        img{
            width: 100%;
            height: 90vh;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8239670868347339) 43%, rgba(0,0,0,0.14889705882352944) 100%);
            .header_content{
                margin-top: 20%;
                margin-left: 50px;
                @media(max-width:767px) {
                     margin-top: 70%;
                     margin-left: 15px;
                     margin-bottom: 0;
                   
                }
                

                .header_content_title{
                    font-size: 35px;
                    color: $readMainColor;
                    font-weight: bolder;
                    @media(max-width:767px) {
                      font-size: 25px;
                 }
                }
                .title_type{
                    color: $whiteColor;
                    font-size: 50px;
                    font-weight: bold;
                    @media(max-width:767px) {
                      font-size: 35px;
                 }
                }
                .slogen{

                    color: #c2c0be;
                    font-size: 45px;
                    margin-top: 30px;
                    font-family: 'wooden';
                    @media(max-width:767px) {
                      width: 100%;
                      line-height: 1.3;
                      font-size: 50px;
                    }
                }
            }
        }
       

    }
}




            

