$pgColor:#16151D;
$logoColor:#e1dfdcdb;
$whiteColor:#ffff;
$gray:#ACACAC;
$readMainColor:#b60c0c;
$btn-d: 5em;
$txt-w: 4*$btn-d;
$txt-h: .65*$btn-d;
$txt-c: #ffeacc;
$mag-d: .5*$txt-h;
$mag-f: .125;
$mag-w: $mag-f*$mag-d;
$mag-c: #000;
$t: .65s;